<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="resolutions" value="240x320;640x480" />
        <add key="threadCount" value="4" />
        <add key="threadCapacity" value="2" />
        <add key="inputFolder" value="C:\\Users\\uladzimir_artsemenka\\Downloads\\input\\" />
        <add key="outputFolder" value="C:\\Users\\uladzimir_artsemenka\\Downloads\\output\\" />
    </appSettings>
</configuration>
